
  <div class="row" >
    <div class="jumbotron">
      <h1>Welcome to my Recipies Application</h1>
      <p>This is my recipes website. You can register and upload your recipes</p>
      <p><%= link_to "Sign Up!",register_path,class: "btn btn-primary btn-lg"  %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 quite caption">
      <h3>View Recipes as Guest User</h3>
      <p>View recipes list as guest user and you can signup later</p>
      <p> <%= link_to "View Recipie Listing", recipes_path, class:"btn btn-warning" %></p>
    </div>

    <div class="col-sm-6 quite caption">
      <h3>Add/Update Recipes</h3>
      <p>Sign-in to view recipes. Sign in to create and update your recipes.</p>
      <p> <%= link_to "Sign In!" ,login_path, class:"btn btn-success" %> </p>
    </div>
  </div>
