// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.chef_info {
  margin-top: 10px;

}

.gravatar {
    border-radius: 10px;
}

.well {
  background-color: #EDEDFE;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #d2d2d4;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}
